<div class="col-12">
    <div class="d-flex justify-content-end buttons-group">
        <button class="btn btn-primary" (click)="controlView='add';resetData()"
            [disabled]="controlView=='add'">add</button>
        <!-- <button class="btn btn-secondary" (click)="controlView='data'" [disabled]="controlView=='data'">show data</button> -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                show data
            </button>
            <ul class="dropdown-menu">
                <li *ngFor="let item of categories"><button class="dropdown-item" (click)="controlView=item">{{item}}</button></li>
            </ul>
        </div>
    </div>

    <form class="form m-4" [formGroup]="product" *ngIf="controlView=='add' || controlView=='edit'"
        (ngSubmit)="submit()">
        <!-- images -->
        <div class="form-group">
            <!-- add image from link -->
            <!-- <div class="accordion-item p-3">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed text-capitalize text-decoration-underline" type="button" data-bs-toggle="collapse" data-bs-target="#add-image-link"
                    aria-expanded="false" aria-controls="add-image-link">
                    add image from link
                </button>
                </h2>
                <div id="add-image-link" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="form-group">
                        <label for="imageURL">image link : </label>
                        <input type="url" name="imageURL" id="imageURL" class="form-control" #imageURL (input)="imageLink=imageFromLink.value">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-dark" (click)="addImageLink()">Save</button>
                    </div>
                </div>
                </div>
            </div> -->
            <!-- upload input -->
            <div>
                <label for="images" class="drop-container" id="dropcontainer">
                    <span class="drop-title">Drop files here <span class="text-info text-decoration-underline">or browse</span></span>
                    <input type="file" id="images" class="file-upload" multiple accept="image/*" (change)="uploadImg($event)" required>
                </label>
            </div>
            <!-- images with a big size notification -->
            <div class="alert alert-warning text-center p-1 m-1" *ngIf="bigImages.length">
                you choose some images with a big size!,So they did't uploaded, please upload images with smaller size instead of them <br>
                <!-- [ * <span *ngFor="let itr of bigImages"> <b  class="text-decoration-underline"> {{itr.name}} </b> * </span> ]  -->
                <b>note </b>: max size is 100 kb per image 
            </div>
            <!-- the loading notification -->
            <small class="loading-text" *ngIf="loadingMsg">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>uploading...</small>
            <!-- view the list of images and ordering them -->
            <div *ngIf="!loadingMsg" cdkDropList cdkDropListOrientation="horizontal" class="example-list text-center" (cdkDropListDropped)="drop($event)">
                <div class="example-box" cdkDrag *ngFor="let item of promoImages; let i = index">
                    <img [src]="item" alt="" class="image-product">
                    <span class="delete-image text-danger" (click)="del(i)"><i class="bi bi-x-circle"></i></span>
                </div>
            </div>
        </div>
        <!-- choose category -->
        <div class="form-group">
            <label for="category" class="important">select category</label>
            <input type="text" class="form-control" formControlName="category" [readOnly]="controlView=='edit'" *ngIf="controlView == 'edit'">
            <select name="category" id="category" class="form-select" formControlName="category" *ngIf="controlView == 'add'">
                <option [value]="item" *ngFor="let item of categories">{{item}}</option>
            </select>
        </div>
        <!-- product title -->
        <div class="form-group">
            <label for="title" class="important">Add product title</label>
            <input type="text" id="title" class="form-control" placeholder="title" formControlName="title">
        </div>
        <!-- adding form details array  -->
        <div class="form-group" formArrayName="details">
            <label class="important">Add product details</label>
            <span class="btn btn-primary add-form-item" (click)="addFormDetails()"><span>+</span></span>
            <!-- fristly we call form array name -->
            <!--  then we loop on the inputs array by get function   =>  arrayname?.controls  &  the index -->
            <div class="inputs-group position-relative" *ngFor="let item of detailsArray?.controls ; let i = index">
                <!-- then we bind the formGroupName in the form array    ==>>  [formGroupName]=" index in the array "   -->
                <ng-container [formGroupName]="i">
                    <!-- and then write the input with   formControlName -->
                    <textarea type="text" class="form-control" placeholder="details" formControlName="details" rows="2"></textarea>
                    <!-- <input type="text" class="form-control" placeholder="details" formControlName="details" rows="2"> -->
                    <div class="btn btn-danger remove-form-item" *ngIf="detailsArray.length > 0"  (click)="removeDetail(i)"><span>-</span></div>
                </ng-container>
            </div>
        </div>
        <!-- adding form price array  -->
        <div class="form-group mt-3" formArrayName="prices">
            <label class="important">Add product net price</label>
            <div class="btn btn-primary add-form-item" (click)="addFormPrice()"><span>+</span></div>
            <div class="inputs-group position-relative" *ngFor="let item of priceArray?.controls; let i = index">
                <!-- the price object  -->
                <ng-container [formGroupName]="i">
                    <input type="number" class="form-control price-input" placeholder="price" formControlName="priceValue" #priceValue>
                    <!-- <small [ngClass.text-danger]="priceValue">asd</small> -->
                    <select name="country" id="country" class="form-select country-input" formControlName="countryCurrency" #countryCurrency>
                        <option [value]="item" *ngFor="let item of countries"> {{item}}</option>
                    </select>
                    <p class="price-show" *ngIf="controlView!='edit'">{{priceValue.value}} {{countryCurrency.value}}</p>
                    <div class="btn btn-danger remove-form-item" *ngIf="priceArray.length > 0" (click)="removePrice(i)"><span>-</span></div>
                </ng-container>
            </div>
        </div>
        <!-- product discount -->
        <div class="form-group">
            <label for="discount" class="important">Add product discount percent form 100% : </label>
            <input type="number" id="discount" class="form-control" placeholder="discount" formControlName="discount">
        </div>
        <!-- choose category -->
        <div class="form-group">
            <label for="productRate" class="important">product stars rate : </label>
            <select name="productRate" id="productRate" class="form-select productRate" formControlName="productRate">
                <option value="no-rate">no rate</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <!-- Show it on the home page  -->
        <div class="form-group">
            <label>Show it on the home page : </label> <br>
            <span>
                <label for="showOnHomeYes" class="m-1 fs-6">yes</label>
                <input type="radio" name="showOnHome" id="showOnHomeYes" formControlName="showOnHome" value="true" checked>
            </span>
            <span class="m-3">
                <label for="showOnHomeNo" class="m-1 fs-6">no</label>
                <input type="radio" name="showOnHome" id="showOnHomeNo" formControlName="showOnHome" value="false">
            </span>
        </div>
        <!-- available  -->
        <div class="form-group">
            <label>available</label> <br>
            <span>
                <label for="categoryYes" class="m-1 fs-6">yes</label>
                <input type="radio" name="available" id="categoryYes" formControlName="available" value="true" checked>
            </span>
            <span class="m-3">
                <label for="categoryNo" class="m-1 fs-6">no</label>
                <input type="radio" name="available" id="categoryNo" formControlName="available" value="false">
            </span>
        </div>
        <!-- --- button submit --- -->
        <div class="text-center p-2">
            <button type="submit" class="btn btn-primary" *ngIf="promoImages.length && controlView=='add'" [disabled]="loadingMsg">Add product</button>
            <button type="submit" class="btn btn-warning" *ngIf="promoImages.length && controlView=='edit'" [disabled]="loadingMsg">Edit product</button>
        </div>
    </form>

    <app-view-edit-prods *ngIf="controlView !='add' && controlView !='edit'" [dataInputView]="controlView"
        (sendProduct)="getItem($event)"></app-view-edit-prods>
</div>