
.price-input,
.country-input{
    width: 30%;
    margin-top: 5px !important;
    margin-right: 10px;
    display: inline-block;
}

.price-show{
    direction: rtl;
    text-align: left;
    float: right;
    margin-right: 10%;
    margin-top: 12px;
    margin-bottom: 0px;
}
