<div class="col-12 bg-light d-flex flex-wrap ">

  <div class="col-md-6 col-sm-12 text-center">
    <!-- skeleton view until the product details loading -->
    @if (!product.title) {
      <div class="text-center p-3">
        <p-skeleton width="100%" height="30px" styleClass="mb-3"></p-skeleton>
        <p-skeleton width="100%" height="30px" styleClass="mb-3"></p-skeleton>
        <p-skeleton width="100%" height="30px" styleClass="mb-3"></p-skeleton>
        <p-skeleton width="100%" height="30px" styleClass="mb-3"></p-skeleton>
        <p-skeleton width="100%" height="30px" styleClass="mb-3"></p-skeleton>
        <p-skeleton width="100%" height="30px" styleClass="mb-3"></p-skeleton>
        <p-skeleton width="100%" height="30px" styleClass="mb-3"></p-skeleton>
      </div>
    }

    <!-- product details -->
    @if (product.title) {
      <div>
        <h1 class="title fs-2 mb-4">{{product.title}}</h1>
        @for (item of product.details; track item) {
          <h3 class="fs-4">{{item.details}}</h3>
        }
        <div class="direction-ltr">
          <h3 class="text-gold fs-4">الاسعار بناء علي عملة كل دولة</h3>
          @for (item of product.prices; track item) {
            <h3 class="fs-5 prices"> {{item.priceValue}} {{item.countryCurrency}}</h3>
          }
        </div>
        @if (product) {
          <a data-bs-toggle="modal" data-bs-target="#exampleModal"
            rel="noopener noreferrer" class="btn btn-success fs-5 mb-3"><i class="bi bi-whatsapp"></i> اطلب المنتج علي واتساب </a>
          }
        </div>
      }
    </div>

    <div class="col-md-6 col-sm-12">
      <!-- skeleton view until the product images loading -->
      @if (!product.images?.length) {
        <div class="text-center">
          <p-skeleton width="100%" height="350px" styleClass="m-1" borderRadius="15px"></p-skeleton>
        </div>
      }

      <!-- product images view -->
      @if (product.images?.length) {
        <div id="carouselExample" class="carousel slide slider-mt" data-bs-ride="carousel">
          <div class="carousel-inner">
            @for (item of product.images; track item; let i = $index) {
              <div class="carousel-item" [ngClass]="{'active':i==0}">
                <img [src]="item.img" class="d-block w-100" alt="...">
              </div>
            }
          </div>
          @if (product.images?.length) {
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"
              [hidden]="product.images.length<=1">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"
              hidden="{{product.images.length<=1}}">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          }
        </div>
      }
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">بياناتك الشخصية </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="personData">
            <div class="form-group">
              <label for="">ادخل اسمك</label>
              <input type="text" class="form-control" formControlName="name" (input)="RequestData()">
            </div>
            <div class="form-group">
              <label for="">ادخل رقم الهاتف</label>
              <input type="text" class="form-control" formControlName="phone" (input)="RequestData()">
            </div>
            <div class="form-group">
              <label for="">ادخل العنوان</label>
              <input type="text" class="form-control" formControlName="address" (input)="RequestData()">
            </div>
            <div class="text-center pt-4">
              <a href="http://wa.me/{{whatsapp.countryCode}}{{whatsapp.phone}}?text={{productMsg}}" target="_blank" type="button" class="btn btn-outline-success"> افتح واتساب </a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>