<div>
  <div class="col-12 hero_area" id="hero_area" >
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container " style="justify-content: space-between;">
          <a class="navbar-brand" href="index.html">
            <img src="assets/logo.PNG" alt="">
            <span>
              ecommerce-title
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav text-dark desktop-links-view">
                <li class="nav-item active">
                  <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/rings"> Rings </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/rosarys"> Rosary </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/youtube"> youtube</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/about-us"> about us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="scrollTo()"> Contact us</a>
                </li>
              </ul>

              <ul class="navbar-nav text-dark mobile-links-view">
                <li class="nav-item active">
                  <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/rings"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> Rings </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/rosarys"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> Rosary </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/youtube"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> youtube</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/about-us"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> about us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="scrollTo()"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> Contact us</a>
                </li>
              </ul>
  
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  
  </div>
</div>