<div class="col-12">

  <!-- end slider section -->
  <h1 class="col-12 part-title pt-2" id="pro">أفضل و أروع الخواتم </h1>
  <div class="col-12 item_section layout_padding2">
    <div class="container">
      <products-carousel [array]="ringsInHome"></products-carousel>
    </div>
  </div>

  <!-- end item section -->

  <!-- price section -->

  <section class="price_section layout_padding">
    <div class="container">
      <h1 class="col-12 part-title">أفضل و أروع المسابح </h1>
      <div class="col-12 item_section layout_padding2">
        <div class="container">
          <products-carousel [array]="rosaryInHome"></products-carousel>
        </div>
      </div>
    </div>
  </section>

  <!-- end price section -->

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="design-box">
      <img src="assets/images/design-2.png" alt="">
    </div>
    <div class="container ">
      <div class="">
        <h2 class="">
          Contact Us
        </h2>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="MessageForm" (ngSubmit)="sendUserMssage()">
            <div>
              <input type="text" placeholder="Name" formControlName="name" />
            </div>
            <div>
              <input type="email" placeholder="Email" formControlName="email" />
            </div>
            <div>
              <input type="text" placeholder="Phone" formControlName="phone" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" formControlName="msg" />
            </div>
            <div class="d-flex ">
              <button type="submit" [disabled]="msgSent"> SEND </button>
            </div>
            @if (msgSent) {
            <div class="m-2 alert text-center" [ngClass]="{
              'alert-success':msgSent=='تم ارسال الرسالة بنجاح',
              'alert-danger':msgSent=='لم يتم ارسال الرسالة'
            }">{{msgSent}}</div>
            }
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map-responsive">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d111310.21058975553!2d47.79321077725838!3d29.327978564744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcff410bda463d7%3A0x4dde79d4a62f202b!2z2KfZhNis2YfYsdin2KHYjCDYp9mE2YPZiNmK2KrigI4!5e0!3m2!1sar!2seg!4v1724021389953!5m2!1sar!2seg"
                width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



</div>