<div class="col-12 position-relative">
  @if (controlView!='delete' && controlView!='showItem') {
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">photo</th>
          <th scope="col">title</th>
          <th scope="col">category</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (item of products | paginate:{itemsPerPage:paginationSize ,currentPage:paginationCurrentPage}; track item; let i = $index) {
          <tr class="text-center">
            <th scope="row">{{ i+1 + (paginationSize * (paginationCurrentPage-1) )}}</th>
            <td><img [src]="item.images['0'].img" class="image-product" alt=""></td>
            <td>{{item.title}}</td>
            <td>{{item.category}}</td>
            <td>
              <button class="btn btn-warning" (click)="getItem(item)"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-danger" (click)="showItem(item);controlView='delete'"><i
              class="bi bi-trash3"></i></button>
              <button class="btn btn-primary" (click)="showItem(item);controlView='showItem';"><i
              class="bi bi-eye-fill"></i></button>
            </td>
          </tr>
        }
        <div class="col-12 pagination-class">
          <pagination-controls (pageChange)="paginationCurrentPage=$event"></pagination-controls>
        </div>
      </tbody>
    </table>
  }

  <!-- ---------------------------- delete ---------------------------- -->
  @if (controlView=='delete' || controlView=='showItem') {
    <div class="pre-delete">
      <div class="col-12 card p-3">
        <div class="d-flex flex-wrap">
          @for (item of globalItem.images; track item) {
            <img [src]="item.img" alt="" class="image-product">
          }
        </div>
        <div class="product-details">
          <h1 class="text-info"><b class="text-capitalize">title</b> : {{globalItem.title}}</h1>
          <h4><b class="text-capitalize">id</b> : {{globalItem.id}}</h4>
          <h4><b class="text-capitalize">category</b> : {{globalItem.category}}</h4>
          @for (item of globalItem.details; track item; let i = $index) {
            <h4>
              <b class="text-capitalize">  details @if (globalItem.details.length > 1) {
                <span>{{i+1}}</span>
              } </b>: {{item.details}}
            </h4>
          }
          <hr>
            @for (item of globalItem.prices; track item; let i = $index) {
              <h4>
                <span style="font-weight: bold;">price</span>
                @if (globalItem.prices.length > 1) {
                  <span style="font-weight: bold;"> {{i+1}} </span>
                  } :  {{item.priceValue}} {{item.countryCurrency}}
                </h4>
              }
              <hr>
                <h4><b class="text-capitalize">discount</b> : {{globalItem.discount}}</h4>
                <h4><b class="text-capitalize">product Rate</b> : {{globalItem.productRate}}</h4>
                <h4><b class="text-capitalize">available</b> : {{globalItem.available}}</h4>
                <h4><b class="text-capitalize">show On Home</b> : {{globalItem.showOnHome}}</h4>
                <div class="text-center">
                  @if (controlView=='delete') {
                    <button class="btn btn-danger m-2" (click)="deleteItem()">delete </button>
                  }
                </div>
                <button class="btn btn-close m-2 position-absolute top-right-0" (click)="controlView='show'"></button>
              </div>
            </div>
          </div>
        }
      </div>