
.image-product{
    margin-right: 30px;
}
.pre-delete {
    top: -36px !important;
    align-items: baseline !important;
}

.card img{
    float: left;
}

.btn-close{
    position: absolute !important;
    top: 0px;
    z-index: 2;
    right: 10px;
}