.content {
    position: relative;
    z-index: 2;
    direction: rtl;
    margin-top: 80px;
}

h2 {
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}