.pre-delete {
    background-color: white;
    height: 88vh;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: -5px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.pre-delete div div img.image-product {
    margin: 30px;
}

.pre-delete div div img.image-product:hover {
    position: relative;
    z-index: 2;
    transform: scale(2.5);
    margin: 65px;
}

iframe {
    border: 0;
    height: 275px;
    width: 393px;
    border-radius: 10px;
}

td iframe {
    height: 183px;
    width: 250px;
}

.pagination-class {
    width: 98% !important;
    position: absolute;
}