.pre-delete {
    background-color: white;
    height: 88vh;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: -5px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

iframe {
    border: 0;
    height: 275px;
    width: 393px;
    border-radius: 10px;
}

td iframe {
    height: 183px;
    width: 250px;
}
.pagination-class{
    width: 98% !important;
    position: absolute;
}