.title {
    font-size: 18px;
    color: rgb(0, 138, 138);
    font-weight: 700;
    padding: 8px;
    font-family: system-ui;
    margin-bottom: 0;
}

.details {
    font-size: 14px;
    padding: 8px;
    font-weight: 700;
    font-family: system-ui;
    margin-bottom: 0;
}

.front-page{
    margin-top: 170px;
}

.bottom-page{
    margin-bottom: 200px;
}
.product-image{
    height: 220px;
}

@media screen and (max-width:700px) {
    .product-image{
        height: auto;
    }
}