<div class="col-12">
  <div id="carouselExample" class="carousel slide slider-mt" data-bs-ride="carousel">
    <div class="carousel-inner">
      @for (item of Carasouels[2].images; track item; let i = $index) {
        <div class="carousel-item" [ngClass]="{'active':i==0}">
          <img [src]="item.img" class="d-block w-100" alt="...">
        </div>
      }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="col-12 d-flex justify-content-center flex-wrap mt-3 bottom-page">
  @for (item of rings | paginate:{itemsPerPage:paginationSize ,currentPage:paginationCurrentPage}; track item; let i = $index) {
    <product-shape class="col-lg-3 col-md-4 col-sm-6 p-1" [item]="item"></product-shape>
  }
  @empty {
    <div class="p-2 fs-2 alert alert-danger test-center">there is no data</div>
  }
  <div class="col-12 pagination-class d-flex justify-content-center mt-5">
    <pagination-controls (pageChange)="paginationCurrentPage=$event"></pagination-controls>
  </div>
</div>