<div class="col-12 pt-5 position-relative">

    <div class=" bg-white mt-5 p-5">
        <div class="w-100 mb-2" *ngFor="let item of posts">
            <p>{{item.title}}</p>
            <p>{{item.description}}</p>
            <button (click)="edit(item)">edit</button>
            <hr>
        </div>

        <form [formGroup]="postForm" (ngSubmit)="submit()">
            <input type="text" formControlName="title">
            <input type="text" formControlName="description">
            <button type="submit">submit</button>
        </form>
    </div>
    
</div>