@use 'admin-form-product-styles.scss';
@use 'change-position.drag-drop.scss';

.accordion-button {
    text-transform: capitalize;
}

.mrg-left {
    margin-left: 10px !important;
}

.whatsapp-bg {
    background-color: #3cff63;
}

.instagram-bg {
    background-color: #ff6d6d;
}

.snapchat-bg {
    background-color: gold;
}

.facebook-bg {
    background-color: #27d1e0;
}

.tiktok-bg {
    background-color: #91a7c5;
}

.twitterX-bg {
    background-color: black;
    color: white;
}